target/
.smoke/
.smoke-komga/
application.yml
*.log
*.sqlite
*.db

ehentai/
bangumi-archive/

### webui ###
web/dist/
web/node_modules/

### vs code ###
.vscode/

### intellij idea ###
.idea/

### mac os ###
.ds_store

### neovim ###
.nvim.lua
